<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = 1050, user-scalable = no" />
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Mashairi Bandia</title>
</head>
<body>
            <div class="container">
            <div class="title"> Mashairi Bandia (Artificial Poems)</div><br>
            <div class="intro">
                Huu ni mkusanyiko wa mashairi yanayotolewa kila siku kwa kutumia OPEN AI, unaweza yapata hapa <a href="https://github.com/bmwasaru/shairi/tree/main/mashairi" target="_blank">bmwasaru/shairi</a> // This is a collection of poems generated every day using the OPEN AI, you can find them here <a href="https://github.com/bmwasaru/shairi/tree/main/mashairi" target="_blank">bmwasaru/shairi</a>
            </div>
            <br>
                {% for key, value in files_content.items() %}
                    <div class="shairi-title">{{ key }} </div</br>
                        <div class="shairi-content"><pre>{{ value }}</pre></div>
                {% endfor %}
            </div>
</body>
</html>
