.container {
    text-align: center;
}

.title  {
    color: blue;
    font-weight: bold;
    font-size: x-large;
    font-size: 40px;
}

div .shairi-title {
    font-weight: bold;
    color: blue;
}

div .shairi-content {
    font-weight: 100;
}